.animation, .animation-layer {

  height:1000px
}

.animation{
  display: block;
  position: relative;
  z-index: 10;
}
 .animation-layer{
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;


 }

 .animation-layer.parallax{
  position: fixed;
 }

 #artback {
  background-image: url('./assets/background1.png');
 }

 #mountain {
  background-image: url('./assets/mountains.png');
 }

 #logoland {
  background-image: url('./assets/logo_land.png');
 }

 #jungle1 {
  background-image: url('./assets/jungle1.png');
 }

 #jungle2 {
  background-image: url('./assets/jungle2.png');
 }

 #jungle3 {
  background-image: url('./assets/jungle3.png');
 }

 #jungle4 {
  background-image: url('./assets/jungle4.png');
 }

 #manonmountain {
  background-image: url('./assets/man_on_mountain.png');
 }

 #jungle5 {
  background-image: url('./assets/jungle5.png');
 }

